:root{
  --border-color-1:orange;
  --border-color-2:grey;
  --white100: #fff;
}
.App {
  --bg-color-1: #ffffff;
  --bg-color-2: #ededd8e1;
  --bg-color-3: rgb(201, 185, 185);
  --bg-color-4: white;

  --text-color-1: #0F0F0F;
  --text-color-2: #2D033B;
}

.App[data-theme="dark"] {
  --bg-color-1: rgb(21,32,43);
  --bg-color-2: rgb(21,32,43);
  --bg-color-3: #1d2a35;
  --bg-color-4: #000301;
  --text-color-1: #ffffff;
  --text-color-2: #bbbcbc;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


.home-container-1 {
  min-height: 100vh; 
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
  border: 1px solid red;
}

.home-container-2 {
  width: 50%;
  padding: 24px;
  margin: 50px auto;
  box-sizing: border-box;
}

.home-container-2 h1,
.home-container-2 h2,
.home-container-2 h3,
.home-container-2 p{
  color: var(--text-color-1);
}

@media screen and (max-width: 760px) {
  .home-container-2 {
    width: 100%;
  }
}

