
@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.main-bar {
    padding: 70px 10px 70px 10px;
    color: var(--text-color-1);
   /* background-color: var(--bg-color-3);*/
    min-width: 430px;
    background: linear-gradient(60deg, var(--bg-color-2), rgb(135, 122, 195));
    /* background-size: 200% 200%; */
    animation: gradientAnimation 5s ease infinite linear;
    font-family: cursive;
  }
  
  .main-bar-header {
    display: block;
    margin-inline: auto;
    max-width: 700px ;
    gap: 10px;
    
  }

  .d-flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .d-flex h1 {
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0;
  }
  
  .main-bar-header .ask-btn {
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #009dff;
    color: white;
    border: none;
    text-decoration: none;
    margin: 10px ;
    transition: 0.3s;
  }
  
  .main-bar-header .ask-btn:hover {
    background-color: #0086d8;
    color: #000;
  }
  
  .display-question-container {
    min-height: 80px;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    border-radius: 20px;
    margin-top: 10px;
    align-items: center;
    background-color: var(--bg-color-3);
    border-bottom: solid 1px #edeff0;
  }
  
  .display-question-container .display-votes-ans {
    display: flex;
    padding: 10px;
    gap: 2em;
  }
  
  .display-question-container .display-votes-ans p {
    margin: 0%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }
  
  .display-question-details {
    flex-grow: 1;
    padding: 10px;
    margin: 0%;
  }

  
  .question-title-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color-3);
    transition: 0.3s;
  }
  
  .question-title-link:hover {
    color: #adb8f3;
  }
  
  .display-tags {
    display: flex;
    flex-wrap: wrap;
  }
  
  .display-tags-time {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .display-tags p {
    margin: 2px;
    padding: 4px;
    font-size: 13px;
    font-weight: 600;
    background-color: var(--bg-color-2);
    color: #39739d;
  }

  .display-time {
    font-size: 13px;
    font-weight: 600;
  }

  @media screen and (max-width: 740px) {
    .display-question-container .display-votes-ans {
      padding: 10px;
    }
    .main-bar {
      min-width: 430px;
      padding-top: 0px;
    }
  }
  