.container {
  margin-top: 50px;
  padding: 50px 10px;
  background: linear-gradient(90deg, var(--bg-color-2) 0, rgb(92, 70, 187) 74%);
  min-width: 430px;
  
}

.wrapper {
  margin: 10px;
  max-width: 400px;
  border-radius: 25px;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(163, 82, 82, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 50px 20px;
  position: relative;
  overflow: hidden;
 
}
@media screen and (min-width: 786px) {
  .wrapper {
    animation: slideIn 1s ease-in-out forwards ;
  }
  @keyframes slideIn {
    0% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
}


.wrapper h1,
.wrapper p
 {
  padding: 10px 10px;
}
.wrapper h1{
  color: rgba(0, 0, 0, 0.631);
}
.wrapper p{
  color: rgb(237, 198, 198);
}

.wrapper p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    padding-bottom: 1em;
}

.wrapper{
    background: linear-gradient(rgb(198, 103, 103) , black);
}

.btn{
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    padding: 10px 12px;
    background-color: rgb(31, 124, 124);
    color: white;
    font-size: 14px;
    font-weight: 900;
}

.btn:hover{
    background-color: rgb(138, 138, 237);
    /* border-radius: 20px; */
    border: 2px solid white;
}